@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #fea51c;
  /* --color-secondary: teal; */
}
option:focus,
select:focus,
input:focus,
textarea:focus {
  outline: 0px solid #fea51c;
  border: 1px solid #fea51c;
}
